.article {
    display: flex;
    border: 2px solid transparent;
    height: 400px;
    width: 95dvw;
    box-sizing: border-box;
    justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.426);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
                    0 6px 20px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease;
        border-radius: 10px;

}
.article:hover{
    border-color: #000; /* Now the border is visible */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow appears */}

.img-container {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    .main-img{
        width: 200px;
        height: 200px;
    }
    .catalogue{
        display: flex;
        gap: 20px;
        width: 90%;
        overflow: scroll;
    }
    .secondary{
        border-radius: 10px;
        cursor: pointer;
        width: 75px;
        height: 75px;
    }
}

.product-info {
    margin: 10px;
    padding: 20px;
    width: 35%;
    box-sizing: border-box;
    border-left: 1px dashed black;
    border-right: 1px dashed black;


    h6{
        font-weight: 800;
        font-size: large;
        margin: 20px 0;
    }


}



.actions {
    display: flex;
    width: 25%;
    padding: 10px;
    margin: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    span{
        font-size: 16px;
    }

    h3{
        width: max-content;
        margin: 0;
    }
    .controls{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        width: 100%;
        button{
            width: 100%;

        }
    }
}

.addToCart{
    color: white ;
    background-color: #0000005b ;
    transition: all 0.3s ease;

    &:hover{
        color: white !important;
        filter: brightness(180%);

    }
}
.paiement-info{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.quantity{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
}

.quantity-btn{
    width: max-content !important;
}


@media (max-width : 900px) {
    .img-container{
        padding-top: 10px;
    }
    .article{
        flex-direction: column;
        height: auto;
    }
    .actions{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        gap: 20px;
    }
    .paiement-info{
        width: 100%;
    }


    .quantity{
        margin-left: auto;
        margin-right: 10px;
    }

    .controls{
        box-sizing: border-box;
        padding: 20px;
        button{
            margin-right: 20px !important;
        }
    }

}