.Filter-Container {
    width: 22vw;
    border: solid 1px gray;

    position: sticky !important;
    overflow: auto;
    left: 0;
    top: 20%;
    margin: 10px;
    border-radius: 15px;
    height:fit-content;
    padding: 10px;
    >h4{
        padding: 20px;
        border-bottom: 1px solid black;
    }
    >div{
        overflow-y: scroll;
        padding: 5px;
        height: 28dvw;
        gap: 10px;
    
        >div{
            >h6{
                font-size: 18px;
                padding: 15px;
                display: flex;
                border-radius: 10px;
                background-color: rgb(230, 238, 238);
                justify-content: space-between;
                cursor: pointer;
                align-items: baseline;
                font-weight: 550;
                margin-bottom: 5px;
            }
            >ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 5px;
    
                li label{
                    display: flex;
                    gap: 10px;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}


label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: baseline;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    background-color: black;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid black;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    color: black;
    cursor: not-allowed;
}

.Filter-content {
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    /* Initial state */
    opacity: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    width: 30vh;
    border: solid 1px black;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.Filter-content,
.Filter-content:hover .Filter-section:focus-within .Filter-content {
    max-height: 500px;
    opacity: 1;
}



@media ( max-width : 1355px ) {
    .filters{
        flex-direction: row;
    }
    .Filter-section::before{
        background-color: white;
    }

    .filter-title{
        background-color: white !important;
    }
    .Filter{
        width: 100%;
        margin-top: 0;
        position: relative;
        height: 20vh;
    }
}

@media ( max-width : 1055px ) {
    .container-fluid-Articles{

        grid-template-columns: 70vh ;
    }

    .laptops-page{
        flex-direction: column;
    }
}