*{
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Clean, simple font */

}



.btn {
    color: black ;
    border-color: black;
    transition: all 0.3s ease;
    border: solid 1px black !important;
}

.btn:hover{
    color: #fff !important;
    background-color: black !important;
}
button{
    transition: transform 0.3s ease;
}

button:active{
    transform: scale(0.95);
}

.heading-title{
    margin-top: 20px;
}

html, body {
    margin: 0;
    width: 100%; 
}


.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0 ;
}
.App-Container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
    width: 100dvw !important;
}

header, footer {
}

.main-content {
    flex-grow: 2; /* Allows the content to grow and fill available space, pushing the footer down */
}


/* WebKit scrollbar styles */
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Firefox scrollbar styles */
* {
    scrollbar-color: black rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
}
