.adminnavbar{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    img{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.logoadmin{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}
.icons{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 20px;
}

.notification{
    position: relative;
    span{
        background-color: red;
        color: white;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        top: -7px;
        right: -11px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
}

@media (max-width:480px) {
    .iconadmin{
        display: none;
    }
}